In [1]:
import numpy as np
import pandas as pd
import json
import plotly.express as px

In [2]:
df = pd.read_csv("data/final_df_v2.csv")
df.head()

,property_type,Sector,City,Area,bedRoom,bathroom,balcony,Pooja Room,Servant Room,Store Room,...,CoveredParking,OpenParking,24*7 Water,MuniCorp Water,Borewell/Tank,PowerBackup,WheelChairFriendly,PetFriendly,Facilities Categories,price
0,House/Villa,Sector 15 Chandigarh,Chandigarh,18000.0,7,7,4,0,1,0,...,3,3,1,1,0,No,Yes,Yes,Standard,28.000
1,House/Villa,Sector 11 Chandigarh,Chandigarh,4500.0,3,3,2,0,1,0,...,1,1,0,1,0,No,Yes,No,Basic,14.000
2,House/Villa,Mohali,Mohali,3600.0,6,6,2,0,0,0,...,0,0,0,0,0,No,No,No,Basic,2.500
3,House/Villa,Dera Bassi,Mohali,1008.0,3,3,1,0,0,0,...,1,1,0,0,1,No,No,No,Basic,0.589
4,House/Villa,New Chandigarh,Mohali,2700.0,9,9,4,1,0,0,...,2,1,1,0,1,Partial,Yes,Yes,Standard,4.500

In [3]:
df['price_per_sqft'] = (df["price"] * 10000000)/df["Area"]

In [4]:
temp_df = df[['City','property_type','Sector','price_per_sqft']].copy()

In [5]:
temp_df

            City   property_type                Sector  price_per_sqft
0     Chandigarh     House/Villa  Sector 15 Chandigarh    15555.555556
1     Chandigarh     House/Villa  Sector 11 Chandigarh    31111.111111
2         Mohali     House/Villa                Mohali     6944.444444
3         Mohali     House/Villa            Dera Bassi     5843.253968
4         Mohali     House/Villa        New Chandigarh    16666.666667
...          ...             ...                   ...             ...
8408      Mohali  Flat/Apartment      Sector 91 Mohali     6343.283582
8409      Mohali  Flat/Apartment     Sector 116 Mohali     3244.795406
8410      Mohali  Flat/Apartment                Kharar     2759.415834
8411      Mohali  Flat/Apartment      Sector 70 Mohali     3589.053387
8412      Mohali  Flat/Apartment     Sector 114 Mohali     4453.441296

[8413 rows x 4 columns]

For convenience we will change builder floor to flat/apartment

In [6]:
temp_df['property_type'].value_counts()

property_type
Flat/Apartment    4901
House/Villa       3226
Builder Floor      286
Name: count, dtype: int64

In [7]:
temp_df.replace("Builder Floor","Flat/Apartment",inplace = True)

In [8]:
temp_df['property_type'].value_counts()

property_type
Flat/Apartment    5187
House/Villa       3226
Name: count, dtype: int64

Lets groupby on basis of city and property_type

In [9]:
group = temp_df.groupby(["property_type","City","Sector"])

In [10]:
group.size()

property_type   City        Sector
Flat/Apartment  Chandigarh  Manimajra               20
                            Sector 38 Chandigarh    21
                            Sector 39 Chandigarh    10
                            Sector 40 Chandigarh     2
                            Sector 41 Chandigarh     2
                                                    ..
House/Villa     Panchkula   Sector 4 Panchkula      35
                            Sector 6 Panchkula      28
                            Sector 7 Panchkula      44
                            Sector 8 panchkula      28
                            Sector 9 Panchkula      39
Length: 202, dtype: int64

In [11]:
final_df = group['price_per_sqft'].mean().reset_index()

In [12]:
pd.options.display.max_rows = None

In [13]:
final_df["price_per_sqft"] = round(final_df["price_per_sqft"],2)

In [14]:
#final_df.to_csv("data/map_data_final.csv",index = False)

In [19]:
final_df.groupby(['property_type','City']).get_group(('Flat/Apartment','Chandigarh'))

     property_type        City                Sector  price_per_sqft
0   Flat/Apartment  Chandigarh             Manimajra         8292.10
1   Flat/Apartment  Chandigarh  Sector 38 Chandigarh        11498.66
2   Flat/Apartment  Chandigarh  Sector 39 Chandigarh        11163.78
3   Flat/Apartment  Chandigarh  Sector 40 Chandigarh         5711.79
4   Flat/Apartment  Chandigarh  Sector 41 Chandigarh         7796.29
5   Flat/Apartment  Chandigarh  Sector 42 Chandigarh        12018.53
6   Flat/Apartment  Chandigarh  Sector 43 Chandigarh        13067.73
7   Flat/Apartment  Chandigarh  Sector 44 Chandigarh        11399.69
8   Flat/Apartment  Chandigarh  Sector 45 Chandigarh         9799.98
9   Flat/Apartment  Chandigarh  Sector 47 Chandigarh        11106.43
10  Flat/Apartment  Chandigarh  Sector 48 Chandigarh        11986.20
11  Flat/Apartment  Chandigarh  Sector 49 Chandigarh        12220.34
12  Flat/Apartment  Chandigarh  Sector 50 Chandigarh        12321.92
13  Flat/Apartment  Chandigarh  Sector 51 Chandigarh        12329.65